<!DOCTYPE html>
<html>
<head>
  <title>GamesOnRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless controller.controller_name == 'games' %>
  <%= link_to '< Back to Game Center', '/' %>
<% end %>

<%= yield %>

</body>
</html>
